*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:"Cairo",sans-serif;
}

body{

background:#0d0d0d;
color:white;

}

header{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 8%;

background:#111;

border-bottom:2px solid gold;

}

.logo{

font-size:30px;
font-weight:bold;
color:gold;

}

nav a{

color:white;

text-decoration:none;

margin:0 15px;

transition:.3s;

}

nav a:hover{

color:gold;

}

.hero{

height:90vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

background:url("images/background.jpg");

background-size:cover;

}

.hero h1{

font-size:65px;

color:gold;

}

.hero p{

margin-top:20px;

font-size:22px;

width:70%;

}

.hero button{

margin-top:35px;

padding:15px 45px;

background:gold;

border:none;

font-size:18px;

cursor:pointer;

border-radius:8px;

}

.cards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(300px,1fr));

gap:30px;

padding:70px 10%;

}

.card{

background:#171717;

padding:40px;

border:1px solid gold;

border-radius:12px;

transition:.4s;

}

.card:hover{

transform:translateY(-10px);

}

.card h2{

color:gold;

margin-bottom:15px;

}

footer{

padding:30px;

text-align:center;

background:#111;

border-top:2px solid gold;

}
 
 
