*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Cairo',sans-serif;
}

body{

background:#090909;

color:white;

}

header{

display:flex;

justify-content:space-between;

align-items:center;

padding:25px 80px;

background:#111;

border-bottom:2px solid #d4af37;

}

.logo{

font-size:35px;

color:#d4af37;

font-weight:bold;

}

nav a{

text-decoration:none;

margin-left:30px;

color:white;

transition:.4s;

}

nav a:hover{

color:#d4af37;

}

.hero{

height:90vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

background:linear-gradient(rgba(0,0,0,.75),rgba(0,0,0,.75)),
url("images/background.jpg");

background-size:cover;

}

.hero h1{

font-size:70px;

color:#d4af37;

}

.hero h2{

font-size:40px;

margin-top:10px;

}

.hero p{

margin-top:25px;

font-size:20px;

width:70%;

}

button{

margin-top:40px;

padding:18px 45px;

background:#d4af37;

border:none;

font-size:20px;

cursor:pointer;

font-weight:bold;

transition:.4s;

}

button:hover{

background:white;

}
